.showHideBtn {
  width: 100%;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 10px;
  border: 1px solid #000;
  background: transparent;
  color: #000 !important;
  margin-top: 40px;
  margin-bottom: 20px;
}

.property-input {
  border: none;
  border-bottom: 2px solid rgba(4, 4, 5, 0.07);
  width: 100%;
  font-size: medium;
}

.property-input:focus,
.property-input:active,
.property-input:focus-within,
.property-input:focus-visible {
  border: none;
  border-bottom: solid 2px #000;
  outline: none;
  box-shadow: 2px 2px 20px 0px rgb(94 75 153 / 0%);
}

.property {
  padding-bottom: 20px;
}

.active.clicked .span-border:before {
  content: "\2713";
  height: 30px;
  width: 30px;
  font-size: 22px;
  background: #008000;
  border-radius: 50%;
  color: #fff;
  padding: 6px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.choose-collection-img {
  width: -webkit-fill-available;
  border-radius: 0px;
  max-height: 55px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.de_nav li span img {
  min-height: 125px;
  /* max-width: 185px; */
  /* object-fit: cover; */
  object-fit: fill;
  object-position: center;
  height: 200px;
}
#custom-create .de_nav li.active span {
  min-width: 160px;
  height: 154px;
}
#custom-create .de_nav li span {
  padding: 15px;
  min-width: 140px;
}
.scrollable {
  float: left;
  width: 100%;
  overflow-y: auto;
  height: 380px;
  scrollbar-width: thin;
}
.author_list_pp .c-author-img {
  top: -5px;
  position: absolute;
}
.author_list_pp1 .c-author-img {
  top: -5px;
  position: absolute;
}
.c-items {
  height: auto;
  min-height: 250px;
  overflow: hidden;
  justify-content: space-between;
}
#form-create-item .de_nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
.nft__item_wrap .c-previous-items {
  max-height: 200px;
}
.nft__item_wrap .c-previous-items img {
  max-height: 150px;
  /* max-width: 185px; */
  object-fit: contain;
  object-position: top;
  width: 100%;
}
.padding_span {
  max-width: 250px;
}
footer {
  position: absolute;
  width: 100%;
}
.de-flex {
  align-items: center;
}
.de-flex > .de-flex-col {
  justify-content: space-between;
  width: 650px;
}
/* #upload_file_Upload_collection ,
#upload_file_Upload{
  display: none;
} */
@media (max-width: 1024px) {
  .subfooter .de-flex,
  .subfooter .de-flex-col {
    display: flex;
  }
  .de-flex-col-icon {
    width: 50%;
    justify-content: flex-end;
    display: flex;
  }
}

@media (max-width: 992px) {
  .scrollable {
    width: 100%;
  }
  #form-create-item .de_nav {
    grid-template-columns: auto auto auto;
  }
  .custom-popup-box .add-collection-box {
    width: 75%;
  }
  .navbar .nav-icon {
    top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .loader_popup-box {
    width: 60%;
  }
  .mainside.btn-main button {
    width: 50px;
    overflow: hidden;
    text-align: left;
    display: flex;
    justify-content: left;
    padding: 5px;
  }
  .navbar .nav-icon {
    top: 45px;
  }
  .scrollable {
    width: 100%;
  }
  .custom-popup-box .add-collection-box {
    width: 90%;
  }
  .padding_span {
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
  }
  #form-create-item .de_nav {
    grid-template-columns: auto auto;
    gap: 15px 5px;
  }
  .de-flex > .de-flex-col {
    width: 100%;
  }
  .de-flex-col .copy {
    margin: 20px 0px 20px;
    text-align: center;
  }
  .de-flex-col-icon {
    text-align: center;
  }
  .subfooter .de-flex,
  .subfooter .de-flex-col {
    display: block;
  }
  .de-flex-col-icon {
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 40px 0 0 0;
  }
  .item_info .item_info_counts {
    flex-wrap: wrap;
  }
  .item_info .item_info_counts > div {
    min-width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}

.popup-bg {
  position: fixed;
  z-index: 9999;
  background-color: #4b4b4d8f;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_popup-box {
  width: 30%;
  background-color: #fff;
  min-height: 35%;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 350px) {
  .loader_popup-box {
    width: 90%;
  }
}

.customDisplayPopup {
  width: 100%;
  float: left;
  margin: 0 0 15px 0;
  text-align: left;
  align-self: center;
  vertical-align: middle;
}
