.feature-box .wm.collection_icon img {
  opacity: 0.1;
  top: 4px;
  position: absolute;
  left: 2px;
}

.custom-collection-card .opt-create {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-collection-card .opt-create img {
  max-width: 175px;
}
.nft__item {
  padding: 30px;
}
.logo a img {
  max-width: 200px;
}
.f-logo {
  max-width: 200px;
}
iframe {
  position: relative !important;
}
.item_info_counts .item_info_type,
.item_info_views,
.item_info_like,
.item_info_lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .de_tab_content .p_list_pp {
  width: 200px;
} */
.add-collection-box .d-create-file {
  padding: 30px;
  height: 190px;
}
.custom-popup-box .add-collection-box {
  scrollbar-width: thin;
  border-radius: 0px;
  width: 50%;
}
.items-cards .nft__item_info {
  margin-bottom: 0px;
}
.custom-popup-box .collection-field-set {
  width: 100%;
  border-radius: 0px;
}
.custom-popup-box .close-icon {
  background-color: rgb(131, 100, 226);
}
.c-tabs-nft .feature-box.howitwork {
  min-height: 421px;
}
.items-cards .d-item .nft__item {
  min-height: 245px;
  display: flex;
  justify-content: space-between;
  height: 245px;
  overflow: hidden;
}
.items-cards .d-item .nft__item img {
  height: 115px !important;
  object-fit: cover;
  object-position: center;
}
.de_tab.tab_methods .c-collections .de_nav li span {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 170px;
  min-width: 170px;
  width: 170px;
}
.nft_image_box .c-nft-img-box {
  overflow: auto;
  max-height: 500px;
  scrollbar-width: thin;
}
.c-upload-img {
  color: transparent !important;
}
.c-button {
  display: block;
  width: max-content;
  text-align: center;
  color: #fff !important;
  background: #8364e2;
  border-radius: 6px;
  letter-spacing: normal;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 20px 0px rgba(131, 100, 226, 0);
  transition: all 0.3s ease;
}
.c-button input[type="file"] {
  display: none;
}
.modal-file-upload{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-upload-box {
  width: 100%;
  height: 190px;
  border: dashed 3px #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .offset-lg-1 {
    margin-left: 0;
  }
  .c-de_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 500px;
  }
  .spacer-single{
    display:none;
  }
}
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
    line-height: 46px;
  }
  .spacer-double {
    height: 0px;
  }
  section .small-border {
    margin: 10px auto 15px;
  }
  .collection-field-set {
    width: 100%;
  }
  #c-footer-icon .de-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .f-logo {
    margin-right: 0px !important;
  }
  .add-collection-box {
    width: 75%;
    top: 8%;
  }
  .add-collection-box .d-create-file {
    padding: 20px;
  }
  .navbar.navbar .logo img {
    width: auto;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .c-de_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 500px;
  }
  .de_tab.tab_methods .c-collections .de_nav li span {
    width: 100%;
    max-width: 25px;
    min-width: 100%;
  }
  .c-tabs-nft .feature-box.howitwork {
    min-height: 100%;
  }
  .padding_span img {
    max-height: 250px;
  }
  footer .widget {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  footer.footer-light .subfooter {
    margin-top: 10px;
  }
}
